@model Recipe

<h2>Добавяне на нова рецепта</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="recipeType">Тип на рецепта:</label>
        <select id="recipeType" name="recipeType" class="form-control">
            <option value="Vegetarian">Vegetarian</option>
            <option value="Vegan">Vegan</option>
            <option value="Dessert">Dessert</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PrepTimeInMinutes"></label>
        <input asp-for="PrepTimeInMinutes" class="form-control" />
        <span asp-validation-for="PrepTimeInMinutes" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Запази</button>
</form>
